@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600&subset=latin,latin-ext');

*{
    font-family: "Source Sans Pro", "Trebuchet MS", sans-serif;
    color: #efefef;
    font-weight: 300;
    font-size: 18px;
}

html{
    display:table;
    height: 100%;
    width: 100%;
    background-color: #808;
    background-image: url('../img/logo.png');
    background-position: left bottom;
    background-repeat: no-repeat;
}

html, body{
    margin: 0px;
}

body{
    padding-bottom: 150px;
    padding-left: 5px;
    display:table-cell; 
    vertical-align:middle;
}

#miniframe{
    width:0px;
    height:0px;
    border:none;
}

.container{
    padding-right: 150px;
    max-width: 500px;
    margin: auto;
}

/**
 *  FORM, LABELS AND FIELDS
 */

input, select, label{
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #111;
    font-size: 18px;
    background: #fff;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 5px;
    -webkit-appearance: caret;
    -moz-appearance: caret;
    appearance: caret;
}

span.lbl{
    display: inline-block; 
    margin-bottom: 5px;
    width: 248px;
}

select{
    width: 240px;
    cursor: pointer;
    background: url("../img/arrow.png") no-repeat 224px center #fff;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

option{
    color: #222;
}

label{
    padding: 5px;
    width: 238px;
}

label i.fa{
    color: #808;
}

input[type=number],input[type=text]{
    width: 150px;
    text-align: right; 
}

input[type=radio]{
    margin: 0px;
    padding: 5px;
    cursor: pointer;
}
input[type=radio]:checked{
    background: #000; 
}

input[type=submit],input[type=button]{
    cursor: pointer;
    width: 500px;
}

#size label{
    text-align: center;
}
#size span, #ratio span{
    display: block;
}

/**
 *  TITLE AND FOOTER
 */
h1{
    font-weight: 300;
    color: #fff;
    font-size: 45px;
    line-height: 60px;
    margin: 0px;
    padding: 0px;
}

a{
    color: #fff;
    text-decoration: none;
}

.footer, .footer *{
    font-size: 13px;
}

.footer{
    position: absolute;
    position: fixed;
    bottom: 5px;
    right: 5px;
    margin-left: 340px;
    text-align: right;
}

/**
 *  SOCIAL NETWORKS
 */

.socials{
    color: #000 !important;
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 250px;
    vertical-align: bottom;
    display: table;
    text-align: right;
    background: #fff;
    padding: 5px;
}

#at20mc *{
    color: #666;
}

.socials *{
    color: #000 !important;
    font-size: 13px;
}


/**
 *  PLUPLOAD
 */
.plupload_header{
    display: none;
}

.plupload_header_content{
    background: none;
    padding-left: 0px;
}

.plupload_container{
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.5);
}

.plupload_content *{
    color: #000;
}

.plupload_content{
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.5);
}

.plupload_filelist_header, .plupload_filelist_footer{
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.5);
}

.plupload_scroll .plupload_filelist{
    background: none;
    overflow-y: auto;
}

.plupload_start{
    display: none;
}


/**
 *  RESPONSIVE STUFF
 */
@media(max-width: 600px){
    .container{
        padding: 0px;
        width: 100%;
    }
}
@media(max-width: 420px){
    
    html{
        background-image: none;
    }
    
    body{
        padding-bottom: 0px;
    }

    .footer{
        margin-left: 5px;
    }
    
    .socials{
        display: none;
    }
}

@media(max-height: 400px){
    body{
        display: block;
    }
    
    .socials{
        display: none;
    }
}